/* Estilo geral */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F5EBDD;
}

/* Cabeçalho */
header {
    background-color: #C8A97E;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: white;
}

/* Menu */
nav {
    margin-top: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Conteúdo */
main {
    padding: 40px;
    text-align: center;
}

/* Cards */
.produtos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

.card {
    background: white;
    padding: 20px;
    width: 150px;
    border-radius: 10px;
    text-align: center;
}

/* Botão */
section a {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #F2B6C1;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

/* Rodapé */
footer {
    background-color: #C8A97E;
    color: white;
    text-align: center;
    padding: 15px;
}

/* RESPONSIVO */
@media (max-width: 300px) {

    .produtos {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    main {
        padding: 20px;
    }

    section a {
        width: 100%;
        display: block;
        font-size: 18px;
    }
}